.article1{
text-ailgn:center;
margin:0 auto;
		width:300px; 
		height:300px;
		border:1px solid red;
		transition:all 0.23s;
border-radius:10px;
-moz-border-radius:10px; 
		}
.article2{
text-ailgn:center;
margin:0 auto;
		width:300px; 
		height:300px;
		border:1px solid red;
		transition:all 0.23s;
border-radius:10px;
-moz-border-radius:10px; 
		}
.article3{
text-ailgn:center;
margin:0 auto;
		width:300px; 
		height:300px;
		border:1px solid red;
		transition:all 0.23s;
border-radius:10px;
-moz-border-radius:10px; 
		}
.article4{
text-ailgn:center;
margin:0 auto;
		width:300px; 
		height:300px;
		border:1px solid red;
		transition:all 0.23s;
border-radius:10px;
-moz-border-radius:10px; 
		}	
.article5{
text-ailgn:center;
margin:0 auto;
		width:300px; 
		height:300px;
		border:1px solid red;
		transition:all 0.23s;
border-radius:10px;
-moz-border-radius:10px; 
		}
		
		.article1:hover{
			box-shadow:2px 2px 23px 2px rgba(1,1,1,1.5);
			border-radius:10px;
-moz-border-radius:10px; 
			}
		.article2:hover{
			box-shadow:2px 2px 23px 2px rgba(1,1,1,1.5);
			border-radius:10px;
-moz-border-radius:10px; 
			}
			.article3:hover{
			box-shadow:2px 2px 23px 2px rgba(1,1,1,1.5);
			border-radius:10px;
-moz-border-radius:10px; 
			}		
		.article4:hover{
			box-shadow:2px 2px 23px 2px rgba(1,1,1,1.5);
			border-radius:10px;
-moz-border-radius:10px; 
			}
div.img{
	 width:50em;
	 height:50em;
}
